body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  width: 380px;
  height: 600px;
  background: #111827;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#header {
  background: #020617;
  color: #22c55e;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  background: #1f2933;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  margin-bottom: 6px;
  max-width: 80%;
}

.me {
  background: #22c55e;
  color: black;
  margin-left: auto;
}

#inputArea {
  display: flex;
  padding: 8px;
  background: #020617;
}

#inputArea input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
}

#inputArea button {
  margin-left: 6px;
  padding: 8px 12px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
