body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

#messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #334155;
  margin: 10px;
  padding: 10px;
}

.system {
  color: #22c55e;
  font-style: italic;
}

input, button {
  padding: 10px;
  margin: 5px;
}
